argh==0.26.2
beautifulsoup4==4.6.3
Click==7.0
colorama==0.4.4
css==0.1
Flask==2.0.1
flask-marshmallow==0.14.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
html==1.13
importlib-metadata==4.6.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
marshmallow==2.19.2
pathtools==0.1.2
PyYAML==5.4.1
six==1.16.0
SQLAlchemy==1.4.19
tornado==5.1.1
typing-extensions==3.10.0.0
watchdog==0.9.0
Werkzeug==2.0.1
zipp==3.4.1
